.now{
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.spacer{
  min-height: 50px;
  width: 100%;
}

.center{
  align-items: center;
  justify-content: center;
}