.now{
  background-image: url("./images/Now1.svg") !important;

  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.now-dark{
  background-image: url("./images/Now.svg") !important;

  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.past{
  background-image: url("./images/Past1.svg") !important;

  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}
.past-dark{
  background-image: url("./images/Past.svg") !important;

  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.future{
  background-image: url("./images/Future1.svg") !important;

  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}
.future-dark{
  background-image: url("./images/Future.svg") !important;

  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
}

.spacer{
  min-height: 50px;
  width: 100%;
}